extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/1200px-Latin_alphabet_Jj.svg.png', width='160')
		h1 Welcome
		p This is the website of Joris de Josselin de Jong!
		p You can find all kinds of stuff about me here. Who I am and what I am is all here. But the more important bussiness stuff like projects, work experience and how to contact me is also here.
		p to generalize myself I am a third year SNE (System and Network Engineer) student at the HU. I have learned about Cisco, Windows and Linux in this time. I like working with Linux myself and of course automation with Puppet and Terraform. What I have done with this you can find in my <a href='/projects', target='_blank'>Projects</a> tab.
		p Hopefully you can find all you want here but if you did not and want more info go to the <a href='/contact', target='_blank'>Contact</a> tab.